.panel-body {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
    max-width: 50%;
  }

.body {
    background-color: rgb(2, 1, 1); 
  }